{% extends 'AppAromas/padre.html' %}

{% block title %} Home {% endblock title %}

{% block main %}
    <!-- Header-->
    <header class="bg-dark py-3">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shop in Aromas Home</h1>
                <p class="lead fw-normal text-white-50 mb-0">We have the best prices on the market.</p>
            </div>
        </div>
    </header>
    <!-- Section-->
    {{ message }}
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for product in contexto.products %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="/media/{{ product.thumbnail }}" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ product.title }}</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price and Stock-->
                            <div>
                                {{ product.code }}
                                ${{ product.price }}
                            </div>
                            <div>
                               Stock: {{ product.stock }}
                            </div>
                            <div>
                                Category: <b>{{ product.category }}</b>
                             </div>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="d-flex justify-content-center small text-warning mb-2">
                            {% if rol == "admin" or request.user.is_superuser == 1 %}
                                <a class="btn m-1 btn-outline-dark mt-auto" href="{% url 'editProduct' product.id %}">Edit</a>
                                <a class="btn m-1 btn-outline-dark mt-auto" href="{% url 'confirmDeleteProduct' product.id %}">Delete</a>
                            {% else %}
                                <a class="btn m-1 btn-outline-dark mt-auto" href="{% url 'addToCart' product.id%}">Add to Cart</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <br>
        </div>
    </div>
{% endblock main %}

