{% extends 'AppAromas/padre.html' %}

{% block title %} Sign In {% endblock title %}

{% block main %}

<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card px-5 py-5">
                <div class="form-data">
                    <form class="forms-inputs mb-4" action="" method="POST">{% csrf_token %}
                        <table>
                            {{ form.as_p }}
                        </table>
                        <div class="mb-3"><input type="submit" class="btn btn-dark w-100" value="login"></div>
                        <div class="mb-3">
                            <a href="{% url 'password_reset' %}">Reset password</a>
                            or 
                            <a href="{% url 'register' %}">Register now!</a>
                        </div>
                        <div class="mb-3">{{ message }}</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br>




{% endblock main %}