{% extends 'AppAromas/padre.html' %}

{% block title %} Products Reset {% endblock title %}

{% block main %}

{% load static %}

<div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <div class="col mb-5">
            <div class="card h-100">
                {% if rol == "admin" or request.user.is_superuser == 1 %}
                <div class="text-center">
                    <div>
                        <p class="text-center text-warning p-2" ><b>Warning!!</b>
                            <img src="{% static 'AppAromas/assets/warning.jpg'%}" width="30" height="30" class="d-inline-block align-top" alt="">
                        </p> 
                    </div>
                </div>
                <p class="text-center" >You are about to reset the product database. It will be replaced by a backup. Do you want to continue?</p>
                <a class="btn m-1 btn-outline-danger mt-auto" href="{% url 'reset_Products'%}">Yes</a>
                <a class="btn m-1 btn-outline-dark mt-auto" href="{% url 'home'%}">No</a>
                {% else %}
                    <p class="text-center">You need to be Admin !!</p>
                    <a class="btn m-1 btn-outline-dark mt-auto" href="{% url 'home'%}">Back</a>
                {% endif %}
            </div>
        </div>
        <br>
    </div>
</div>
    
{% endblock main %}